body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  background-color: #6E6E6E;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.logo {
    width: 280px;
    margin-right: 20px;
    margin-left:20px;
}
nav {
    flex-grow: 1;
    text-align: left;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    position: relative;
}
nav a.active::before, nav a:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #BAFF39;
}

h1 {
    padding: 20px;
    background-color: #009688; 
    color: #fff;
    margin: 0;
    font-size: 45px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

#create-grid, #submit, #matrix, #results, label {
    font-size: 20px; 
    color: #333; 
}

#input-form {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

label {
    margin-right: 10px;
    color: #008000; 
   font-weight: bold; 
}

input[type="number"] {
    width: 50px;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 3px;
}

#create-grid, #submit {
    padding: 12px 24px; 
    background-color: #007acc; 
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#create-grid:hover, #submit:hover {
    background-color: #005f99; 
}

table {
    border: none;
    width: 100%;
    max-width: 600px;
    margin: 20px 10px; 
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #000;
}

table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tr:nth-child(even) {
    background-color: #fff;
}

table td:last-child {
    text-align: left;
}

#results {
    width: 120%;
    max-width: 1200px;
    max-height:5000000px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

#steps div {
    padding: 5px;

}

#steps strong {
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

.table-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 10px; 
}

.matrix-table {
    background-color: white; 
    width: 48%; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

sup {
    font-size: 70%;
}

.result-row {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.matrix-display {
    margin-right: 20px;
}

.matrix-table {
    border-collapse: collapse;
    margin: 10px;
  }
  .matrix-table td {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .border-top { border-top: 2px solid red; }
  .border-right { border-right: 2px solid red; }
  .border-bottom { border-bottom: 2px solid red; }
  .border-left { border-left: 2px solid red; }
